---
layout: default
---
<ul class="posts">
    <li>
        <div class="post_preheader">
            <span>
                {{ page.date | date: "%B %-d, %Y" }} 
            </span>
        </div>

        <div class="post_header">
            <b>{{ page.title }}</b>
        </div>

        <div id="post">
            {{ content }}
        </div>

        <script src="https://utteranc.es/client.js"
          repo="billywhizz/billywhizz.github.io"
          issue-term="pathname"
          label="blog.comment"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ page.title }}" data-via="billywhizz1970" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </li>
</ul>

